/* body {
  background-color: rgb(124, 10, 116);
  text-align: center;
} */

h1 {
  text-align: center;
  color: cornflowerblue;
}

h2 {
  color: rgb(247, 245, 247);
}

main {
  margin: 30px 20px;
  padding: 20px;
  background-color: rgb(234, 168, 208);
  border-radius: 20px;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: rgb(234, 168, 208);
  font-size: 1.5em;
}

nav a:hover {
  color: lightblue;
  text-decoration: none;
}

form {
  display: inline;
}

.inactive {
  color: gray;
}

.border {
  border: 1px solid gray;
}
